{
    "presets": [
      "env"
    ],
    "plugins": [
      ["module-resolver", {
        "alias": {
          "common-core": "./src/Core",
          "common-helpers": "./src/Helpers"
         }
      }]
    ]
  }
